

.product
  .name
    #{name}
    //- if alt_names
    //-  span.alt-names
    //-    \(#{alt_names}\)
    if _.isArray(makers) && makers.length
      span.makers - #{_.pluck(makers, 'name').join(', ')}
  
