
.admin-list
  .pager
    ul
      li
        a.previous(href="javascript:void(0);") Previous
      li
        a.next(href="javascript:void(0);") Next
  table
  .pager
    ul
      li
        a.previous(href="javascript:void(0);") Previous
      li
        a.next(href="javascript:void(0);") Next
        
  p
    a.add(href="javascript:void(0);") Add New

