
.container-fluid.contact
  .row
    .col-md-7
      h1 Contact Us
      iframe.pull-right.google-map(frameborder="0", src="https://www.google.com/maps/embed/v1/place?q=26450+Ruether+Ave.,+%23208+Santa+Clarita,+CA+91350&key=AIzaSyAjUkPxGyadh5relom7cM9JgAAm7dLa3l8")
      .content-block(data-name="contact")
        include ./content_block
    .col-md-4.col-md-offset-1
      .form
