
.container-fluid.contact
  .row
    .col-md-8
      h2 Contact Us
      .google-map
        iframe.pull-right(frameborder="0")
      .content-block(data-name="contact")
        include ./content_block
    .col-md-4
      .form
