
.container-fluid.contact
  .row
    .col-md-3
      .form.hidden
    .col-md-9
      .heading-container
        h2 Contact Us
      .contact-text.content-block(data-name="contact")
        include ./content_block
