
.container-fluid.contact
  .row
    .col-xs-12
      h2.line-after Contact L.A. Percussion Rentals
  .row
    .contact-left.col-md-8
      .contact-text.content-block(data-name="contact")
        include ./content_block
    .contact-right.col-md-4
      .form
