
.content

if user
  ul.edit-links
    li.edit
      button.edit-content-block(type="button", class="btn btn-xs btn-primary") Edit
    li.save.hide
      button.save-content-block(type="button", class="btn btn-xs btn-primary") Save
    li.revert.hide
      button.revert-content-block(type="button", class="btn btn-xs btn-danger") Revert
