
.container-fluid.contact
  .row
    .col-xs-3
      .content-block(data-name="contact-left")
        include ./content_block
    .col-xs-3
      h1 Contact Us
      .content-block(data-name="contact")
        include ./content_block
      .form
