
.container-fluid
  .row
    .col-xs-3
      .content-block(data-content-block-name="contact-left")
        .content
    .col-xs-9
      h1 Contact Us
      .content-block(data-content-block-name="contact")
        .content
      .form
