
.container-fluid.contact
  .row
    .col-md-7
      h1 Contact Us
      .google-map.pull-right.col-md-6.hidden-xs
        iframe.pull-right(frameborder="0")
      .content-block(data-name="contact")
        include ./content_block
    .col-md-4.col-md-offset-1
      .form
