
.container-fluid.contact
  .row
    .col-xs-12
      h2 Contact Us
  .row
    .col-md-8
      .contact-text.content-block(data-name="contact")
        include ./content_block
    .col-md-4
      .form
