
.index
  .news.container-fluid
    .row
      .col-sm-7.col-sm-offset-1
        .content-block(data-name="index-left")
          .content
      .col-sm-3
        .content-block(data-name="index-right")
          .content

