
.wrapper
  header.header
    .header__item
      a.header__link(href="/", title="L.A. Percussion Rentals", data-action="click:navigate")
        span.header__site-name L.A. Percussion Rentals
    .header__item
      a.header__link(href="/instruments", data-action="click:navigate") Instruments
    .header__item
      a.header__link(href="/instruments/tags", data-action="click:navigate") Sound Search
    .header__item
      a.header__link(href="/contact", data-action="click:navigate") Contact Us

    .header__item
      .text-search
        .products-text-search

  .content-main
    x-test
    .index-wrapper
      section.index__card
        .content-block(data-name="index-left")
          .content

      section.index__card
        .content-block(data-name="index-middle", data-action="click:navigate")
          .content
        a.button(href="/instruments/tags", data-action="click:navigate") Sound Search

      section.index__card
        .content-block(data-name="index-right")
          .content
        a.button(href="/contact", data-action="click:navigate") Contact Us

  footer.footer
    p.footer__copy &copy;!{(new Date).getFullYear()} L.A. Percussion Rentals

