
.index
  .news.container-fluid
    .row
      .col-md-12
        .col-xs-7.col-xs-offset-1
          .content-block(data-name="index-left")
            .content
        .col-xs-3
          .content-block(data-name="index-right")
            .content

