
.index-wrapper(id=id)
  section.index__card
    .content-block(data-name="index-left")
      .content

  section.index__card
    .content-block(data-name="index-middle")
      .content
    a.button(href="/instruments/tags") Sound Search

  section.index__card
    .content-block(data-name="index-right")
      .content
    a.button(href="/contact") Contact Us
