
.index-wrapper
  section.index__card
    x-content-block(data-name="index-left")
      .content

  section.index__card
    .content-block(data-name="index-middle", data-action="click:navigate")
      .content
    a.button(href="/instruments/tags", data-action="click:navigate") Sound Search

  section.index__card
    .content-block(data-name="index-right")
      .content
    a.button(href="/contact", data-action="click:navigate") Contact Us
