
.index
  .news.container-fluid
    .scroll-fixed-inner
      .row
        .col.col-sm-4.index-left
          .content-block(data-name="index-left")
            .content

        .col.col-sm-4.index-middle
          .content-block(data-name="index-middle")
            .content
          a.button-alert(href="/instruments/tags", navigate) Sound Search

        .col.col-sm-4.index-right
          .content-block(data-name="index-right")
            .content
          a.button-alert(href="/contact", navigate) Contact Us

