
#mobile-menu
  nav
    ul
      li
        a.navigate(href="/") Home
      li
        a.navigate(href="/contact") Contact Us
        
      each category in product_categories
        li
          a.navigate(href="/instruments/categories/#{category.slug}")= category.name 
      
