
#mobile-menu
  nav
    .text-search
    .clearfix
    ul
      li
        a.navigate(href="/instruments") Instruments
      li
        a.navigate(href="/instruments/tags") Sound Search
      li
        a.navigate(href="/contact") Contact Us


