
- var path = '/instruments/' + product.slug + '/' + product._id;
- class_name = product.selected ? 'selected' : '';

li(data-pathname=path, class=class_name)
  a(href=path, data-action="app:navigate")=product.name
