
.container-fluid.products
  .row
    .products-heading.col-md-9.col-md-offset-3.col-sm-offset-5.col-xs-offset-5

  .row
    #sidebar.col-xs-6.col-sm-6.col-md-3
      #sidebar-inner
        nav.categories
          if typeof product_categories != 'undefined'
            ul
              each category in product_categories
                li
                  a(href="/instruments/categories/#{category.slug}")= category.name 

        nav.tags-tree

    #products-results.col-xs-6.col-sm-6.col-md-9

      section.heading
        h1= (typeof heading != 'undefined' ? heading : '')
        .more-info-container.hide
          a.more-info(href="javascript:void(0);") More Information
        .stats.secondary #{products.length} Results
        .sort-direction
          a.toggle-sort-direction(href="javascript:void(0);") Sort Descending
      
      .boxes-list

        ul.results
          each product in products
            li
              include product
        
        - var href = 'javascript:void(0);'
        if paginate && paginate.hasNextPages(page_count)
          - href = paginate.href()
        .more-container 
          a.more(href=href) More


