
.container-fluid.products.products-categories-search
  .row
    .sidebar.col-xs-6.col-sm-6.col-md-2

    .products-results.col-xs-6.col-sm-6.col-md-10
      //-#heading-container
      //-  h2.line-after= (typeof heading != 'undefined' ? heading : '')
      //-  .more-info-container.hide
      //-    a.more-info(href="javascript:void(0);") More&hellip; 

        //- .stats-container
        //-  .stats.secondary #{products_length} Results
        //-  .sort-direction.hidden-xs.hidden-sm
        //-    a(href="javascript:void(0);", data-action="app:instruments:sort-products").toggle-sort-direction.
        //-      #{sort_dir == 'desc' ? 'Descending' : 'Ascending'}

      .boxes-list
        .scroll-fixed-inner
          .results-container


