
.container-fluid
  .row
    .col-md-8
      .container-fluid.product-details.landscape(itemscope, itemtype="http://schema.org/Product")
        .row
          .col-md-12

            .product-heading
              h2(itemprop="name", class="line-after")= product.name
            
            .images

