
.small-product
  .name
    #{product.name}
    if product.sizes && !product.hide_sizes_in_lists
      span.sizes , #{product.sizes}

    if Array.isArray(product.makers)
      span.makers - #{product.makers.map(product => product.name).join(', ')}
