
.container-fluid.products
  .row
    .col-md-8.col-md-offset-2
      h1= (typeof heading != 'undefined' ? heading : '')
      .stats.secondary #{products.length} Results
      .sort-direction
        a.toggle-sort-direction(href="javascript:void(0);") Sort Descending

  .row
    .col-md-2.visible-md-block.visible-lg-block
      .categories
        if typeof product_categories != 'undefined'
          ul
            each category in product_categories
              li
                a(href="/instruments/categories/#{category.slug}")= category.name 

       .tags-tree
      
    .col-md-8

      .boxes-list


        ul.results
          each product in products
            li
              include product
        
        - var href = 'javascript:void(0);'
        if paginate && paginate.hasNextPages(page_count)
          - href = paginate.href()
        .more-container 
          a.more(href=href) More

    .col-md-2
      p.secondary(style="font-size:13px;padding-top:20px;") While Emil Richards is renowned for his prodigious recording career, he is also known in the industry for his giant percussion instrument collection. In 1962, Emil and a small jazz combo joined Frank Sinatra on a tour around the world for the benefit of under privileged children, at the request of President John F. Kennedy. This extensive world tour sparked his interest in collecting ethnic percussion instruments. Emil’s instruments have played an integral part in the recordings he’s performed on, which number over two thousand in his career. He has worked with countless composers, who have come to depend on his knowledge of eclectic and ethnic percussion when scoring films set in exotic locations. 
      p.secondary(style="font-size:13px;") L.A. Percussion Rentals purchased a large portion of the Emil Richards Collection in 2012; they restored many of the instruments, and the instruments continue to be used in recordings and other performances in the Los Angeles area. A passion of Emil Richards' is to marry different and unusual percussion sounds together to create new textures and timbres; LAPR hosts the "Experimental Composer/Percussion Workshop," which focuses on doing just that. 
