
li(data-pathname="/instruments/#{product.slug}/#{product._id}", class="#{product.selected ? 'selected' : ''}")
  p.product-small
    a(href="/instruments/#{product.slug}/#{product._id}", data-action="app:navigate")!=product.name
