
.products-text-search
  .form
    form
      div(data-fieldsets)
        fieldset(data-fields)
          div
            label(for="search1")
            div
              span(data-editor)
                input#search1.tt-input(name="search1", type="text", autocomplete="off", spellcheck="false", tabindex="1")
                .tt-dataset-products

      .products-list
