
li(data-pathname="/instruments/#{product.slug}/#{product._id}")
  p.product-small
    a(href="/instruments/#{product.slug}/#{product._id}", data-action="products-text-search:navigate")!=product.name
