
li
  a(href="//www.youtube.com/watch?v=#{video.youtube_id}", title="#{video.description}")
    img(src="http://img.youtube.com/vi/#{video.youtube_id}/mqdefault.jpg", alt="#{video.name}", height="45")
