doctype html
html
  head
    title React/ECMA6 Proof of Concept, Yay
    link(rel="stylesheet", type="text/css", media="screen", href="/dist/app.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")

  body
    #content
      block content

    footer

    script(type="text/javascript", src="/dist/data.js")
    script(type="text/javascript", src="/dist/vendor.js")
    script(type="text/javascript", src="/dist/client.js")
    
    block script


