doctype html
html
  head
    title 
    style(type="text/css", media="screen")
      | body { font: 13px arial; }
      | table { border-collapse: none; width: 100%; }
      | td, th {
      |   padding: 1px;
      |   background: #f7f7f7;
      |   white-space: nowrap;
      |   font-size: 11px;
      | }
      | td._description { white-space: normal; min-width: 100px; }
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="csrf-param", content="#{csrf}")
    meta(http-equiv="Content-Type", content="text/html;charset=utf-8")

  body(class="#{body_class}")
    block content 

