
extends layout

block content
  .col-md-3
    .tags-tree
    .categories

  .col-md-9
    .products
      .pagination
        ul
          li
            a.previous(href="javascript:void(0);") Previous
          li
            a.next(href="javascript:void(0);") Next
      ul.results

      if user
        ul
          li
            a.add-product(href="javascript:void(0);") Add Product
      
      include paginate
    

