
extends layout

block content
  .col-md-3
    .tags-tree
      ul
        each tag_cat in tags_tree
          li 
            //- p= tag_cat.name
            ul
              each tag in tag_cat.tags
                li
                  a.category(href="/products/tags/#{tag.slug}")= tag.name

  .col-md-9
    .products
      table.products
        thead
          tr
            //- th
            th Instrument
            th Description
            th Maker/Manufacturer
            th Price
        tbody
          each product in products
            tr
              include product_row
      

      if user
        ul
          li
            a.add-product(href="javascript:void(0);") Add Product
      
      include paginate
    

