
extends layout

block content
  .col-md-3
    .tags-tree
    .categories

  .col-md-9
    if user
      ul
        li
          a.add-product(href="javascript:void(0);") Add Product

    .products
      ul.results
      a.get-next-page(href="javascript:void(0);") More

      
      include paginate
    

