
extends layout

block content
  .col-md-2
    ul.product-categories
      li
        a.category(href="/products") All
      each category in categories
        li 
          a.category(href="/products/categories/#{category.slug}")= category.name

  .col-md-10
    form(method="post", action="")
      p
        input(type="text", name="search", value="#{search}")
        input(type="submit", value="Search")
    p Count: #{products.length}
    table.products
      thead
        tr
          th
          th Instrument
          th Description
          th Maker/Manufacturer
          th Price
      tbody
        each product in products
          include product_row
    
    if user
      ul
        li
          a.add-product(href="javascript:void(0);") Add Product

