
extends layout

block content
  .col-md-3
    .tags-tree
    .categories

  .col-md-9

    .products
      
      ul.results
      
      a.more(href="javascript:void(0);") More
      
//- include paginate
    

