
.col-md-3
  .tags-tree

.col-md-9

  .products
    
    h1= (heading ? heading : 'Instruments')

    ul.results
      each product in products
        li
          include product_row 
    
    if paginate && paginate.hasNextPages(page_count)
      a.more(href=paginate.href()) More
    
