
extends layout

block content
  if product
    .container-fluid
      .row
        .col-md-9.col-md-offset-3
          .product-details
            include partials/product_details    
  else
    p.error Product not found

