
extends layout

block content
  .col-md-2
    //- ul.product-categories
    //-  li
    //-    a.category(href="/products") All
    //-  each category in categories
    //-    li 
    //-      a.category(href="/products/categories/#{category.slug}")= category.name

  .col-md-10
    a(href=paginate.href({ sort: 'name' })) Sort by name
    table.products
      thead
        tr
          th
          th Instrument
          th Description
          th Maker/Manufacturer
          th Price
      tbody
        each product in products
          include product_row

    include paginate
    
    if user
      ul
        li
          a.add-product(href="javascript:void(0);") Add Product

