
extends layout

block config
  - // Search engine stuff
  - var title = product.name.trim() + (product.makers.trim().length ? ' Rental in Los Angeles - By ' + product.makers.trim() : '') + ' - L.A. Percussion Rentals';
  - var description = product.name + (product.alt_names.trim().length ? ' (' + product.alt_names.trim() + ')' : '');
  - description += (product.description.trim().length ? ((description.length ? ' - ' : '') + product.description.trim()) : '');

  - // For facebook
  - var og_image = base_url + '/dist/images/products/400/' + product.image;
  - var og_type = 'article';

block content
  if product
    .container-fluid
      .row
        .col-md-9
          include partials/product_details    
  else
    p.error Product not found

