
extends layout

block content
  h1 Heading level 1
  h2 Heading, level 2
  h3 Heading, level 3
  h4 Heading, level 4
  p Paragraph. Intelligentsia tilde banh mi hoodie, lomo distillery Blue Bottle messenger bag four loko Schlitz High Life readymade Truffaut. Carles Echo Park swag Intelligentsia vegan actually. Tilde sartorial Marfa Bushwick pour-over umami, lumbersexual seitan plaid sustainable cred. Chambray cardigan retro tofu, actually chia narwhal. Ugh meggings 8-bit occupy tousled tattooed, before they sold out pop-up Brooklyn paleo four loko readymade brunch pork belly cray. Pitchfork pop-up four loko, meggings fap messenger bag trust fund fanny pack beard. Thundercats selvage wayfarers master cleanse quinoa. 
  blockquote Blockquote (testimonials, etc.) 8-bit seitan authentic brunch farm-to-table. Cred PBR plaid, flexitarian retro fingerstache chambray quinoa bespoke gluten-free slow-carb fixie +1 occupy American Apparel. Craft beer freegan single-origin coffee squid, mustache VHS cray fanny pack photo booth paleo irony tousled asymmetrical. Shoreditch farm-to-table McSweeney's, ugh Godard YOLO tilde whatever selfies PBR wolf artisan. Artisan polaroid sartorial ennui letterpress XOXO, narwhal pug Shoreditch mlkshk sustainable PBR&B squid. Lumbersexual Carles High Life Wes Anderson PBR. Letterpress Truffaut tilde, mumblecore VHS Pinterest wolf.
  ul
    li Unordered list item 1
    li Unordered list item 2
    li Unordered list item 3
    li Unordered list item 4
    li Unordered list item 5
    li Unordered list item 6
  p A horizontal rule:
  hr

  .tag  
    a(href="javascript:void(0);") Button
  .tags-tree
    ul
      li Tag group
        ul.tags-list
          li
            a(href="javascript:void(0);") A Tag
          li
            a(href="javascript:void(0);") Another Tag
          li
            a(href="javascript:void(0);") Yet Another Tag
      li Another tag group
        ul.tags-list
          li
            a(href="javascript:void(0);") A Tag
          li
            a(href="javascript:void(0);") Another Tag
          li
            a(href="javascript:void(0);") Yet Another Tag

  p This is <strong>strong text</strong>
  p This is <em>emphasized text</em>
  p This is <b>bold text</b>
  p This is <i>italicized text</i>
  p 
    a(href="javascript:void(0);") This is a link
  
  form
    label Label for inputs
    input(type="text", value="Text input")
    br
    textarea(rows="8", cols="80") Textarea. Cardigan small batch try-hard lomo meh next level, mlkshk post-ironic normcore shabby chic migas four dollar toast messenger bag. Migas keffiyeh Portland flexitarian, irony chillwave umami banh mi 8-bit deep v pickled asymmetrical hella. Beard roof party fap, ugh scenester shabby chic hoodie disrupt readymade Austin migas 8-bit brunch. Skateboard PBR drinking vinegar sriracha hashtag Kickstarter. Pinterest twee Schlitz Etsy Neutra, seitan master cleanse Vice 3 wolf moon plaid pour-over flexitarian. Organic PBR selfies photo booth authentic, Williamsburg American Apparel VHS tousled artisan craft beer lo-fi actually keytar. Locavore Vice sustainable, Banksy fap lo-fi American Apparel.
    p Do you like?
    input(type="radio", name="likey")
    label Yes
    input(type="radio", name="likey", checked="checked") 
    label Nope

  table
    thead
      tr
        th A row title
        th Another row title
        th Wolf occupy umami
        th Etcetera
    tbody
      tr
        td Kogi butcher Schlitz fashion axe, forage iPhone Helvetica deep v. Austin cold-pressed semiotics
        td Williamsburg beard. Gluten-free kitsch master cleanse cred, bicycle rights  
        td Tattooed fanny pack cold-pressed letterpress Marfa art party ugh sriracha organic small batch food truck paleo.
        td Some more stuff over here
      tr
        td Cred slow-carb migas distillery, Carles mixtape fingerstache bespoke paleo.
        td More stuff
        td Tattooed fanny pack cold-pressed letterpress Marfa art party ugh sriracha organic small batch food truck paleo.
        td Cred slow-carb migas distillery, Carles mixtape fingerstache bespoke paleo.
      tr
        td Crucifix sriracha Bushwick wayfarers try-hard, cred skateboard Pinterest distillery
        td More stuff
        td Tattooed fanny pack cold-pressed letterpress Marfa art party ugh sriracha organic small batch food truck paleo.
        td Some more stuff over here









