
.header__item
  a.header__link(href="/", title="L.A. Percussion Rentals", data-action="click:navigate")
    span.header__site-name L.A. Percussion Rentals
.header__item.test
  a.header__link(href="/instruments", data-action="click:navigate") Instruments
.header__item
  a.header__link(href="/instruments/tags", data-action="click:navigate") Sound Search
.header__item
  a.header__link(href="/contact", data-action="click:navigate") Contact Us
.header__item
  .header__site-search
