
extends layout

block config
  - // Search engine stuff
  - var title        = product.name.trim() + (product.makers.trim().length ? ' - By ' + product.makers.trim() : '') + ' - L.A. Percussion Rentals';
  - var description  = (product.alt_names.trim().length ? product.alt_names.trim() : '');
  - description     += (product.description.trim().length ? ((description.length ? ' - ' : '') + product.description.trim()) : '');

block content
  if product
    .container-fluid
      .row
        .col-md-9
          include partials/product_details    
  else
    p.error Product not found

