
.blur {
  filter: blur(3px); 
  -webkit-filter: blur(3px); 
  -moz-filter: blur(3px); 
  -ms-filter: blur(3px);
  -o-filter: blur(3px);
}

.unblur {
  filter: blur(0); 
  -webkit-filter: blur(0); 
  -moz-filter: blur(0); 
  -ms-filter: blur(0);
  -o-filter: blur(0);
}

.grayscale {
  filter: grayscale(1); 
  -webkit-filter: grayscale(1); 
  -moz-filter: grayscale(1); 
  -ms-filter: grayscale(1);
  -o-filter: grayscale(1);
}

.ungrayscale {
  filter: grayscale(0); 
  -webkit-filter: grayscale(0); 
  -moz-filter: grayscale(0); 
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
}

.drop-shadow {
  -webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}

.transition-color {
  transition: color .5s ease-in-out;
  -moz-transition: color .5s ease-in-out;
  -webkit-transition: color .5s ease-in-out;
}

.transition-bg {
  transition: background .5s ease-in-out;
  -moz-transition: background .5s ease-in-out;
  -webkit-transition: background .5s ease-in-out;
}

