
.boxes-list {
  padding-bottom: 10px;
  .more-container {
    padding: 2px;
  }
  .more {
    width: 100%;
    margin-top: 5px;
    display: block;
    font-size: 1.2em;
    color: #bbb;
    background: #222;
    padding: 12px 0;
    text-decoration: none;
    text-align: center;
    &:hover {
      background: #333;
    }
    &:active {
      background: #444;
      color: #fff;
    }
  }
  .results {
    padding: 0;
    padding-top: 20px;
    margin: 0;
    /*-moz-column-count: 5;
    -moz-column-gap: 5px;
    -webkit-column-count: 5;
    -webkit-column-gap: 5px;
    column-count: 5;
    column-gap: 5px;*/
    width: 100%;
    overflow: hidden;
    li {
      .noselect;
      list-style-type: none;
      cursor: pointer;
      float: left;
      display: block;
      width: 33.3%;
      padding: 2px;
    }
  }
}

.tags-list {
  margin: 0;
  padding: 0;
  overflow: hidden;
  li {
    .tag;
  }
}


