

@import './bootstrap.less';

@layout-image-dir: '/images/layout/';
@content-image-dir: '/images/content/';

@bg-color: #121212;
@content-bg-color: #1c1c1c;
@content-bg-hover-color: #222;

@link-color: #bbb;
@text-color: @link-color; 
@text-secondary-color: #777;
@heading-color: #eee;

@button-bg-color: #222;
@button-hover-bg-color: #555;
@button-active-bg-color: #444;
@button-selected-bg-color: #ddd;
@button-selected-hover-bg-color: #ddd;
@button-selected-active-bg-color: #ccc;

@button-text-color: #777;
@button-active-text-color: #fff;
@button-hover-text-color: #eee;
@button-selected-text-color: #333;
@button-selected-hover-text-color: #555;

@import './buttons.less';
@import './lists.less';
@import './effects.less';
@import './off_canvas_menus.less';

/** ???? **/
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body, html {
  height: 100%;
}

body {
  background-color: @bg-color;
  color: @text-color;
  /*background-image: url("/images/cocktail_snare.jpg");
  background-position: top left;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;*/
}

.drop-shadow {
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.8);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.8);
}

a:link, a:visited, a:active {
  color: @link-color;
}

a:hover, .navbar-default .navbar-nav > li > a:hover {
  color: @link-hover-color;
}

table {
  .table;
}

.navbar-nav > li > a {
  padding: 4px 10px;
  &:link, &:hover, &:active, &:focus {
    background-color: transparent;
  }
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: transparent;
}

.navbar-nav > li > .dropdown-menu {
  background-color: #222;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  & > li > a {
    &:link, &:visited, &:active {
      color: #999;

    }
    &:hover {
      background-color: #333;
      color: @text-color;
    }
  }
}

.secondary {
  color: @text-secondary-color;
}

/*
.navbar-default {
  background-color: transparent;
  border: none;
}
*/

header {
  .text-search {
    width: 100%;
    float: right;
    text-align: right;
    input[type="text"] {
      background: #111;
      width: 100%;
      border: 1px solid #888;
    }
    [data-editor], .twitter-typeahead {
      width: 100%;
      display: block;
    }
    label {
      display: none;
    }
    .tt-dropdown-menu {
      border: 2px solid #222;
      width: 100%;
      .drop-shadow;      
      background: #222;
      text-align: left;
      margin: 0;
      padding: 0;
      /* Highlighted letters in phrase */
      /*.tt-highlight {
        color: #fff;
      }*/
      /* Dropdown hover */
      .tt-cursor {
        background: #444;
      }
      .tt-dataset-products {
        color: #ccc;
        cursor: pointer;
        .product {
          font-size: 13px;
          padding: 4px 7px; 
          .alt-names, .makers {
            color: @text-secondary-color;
          }
        }
      }
    }
  }
}

.categories {
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style: none;
    a:link {
      text-decoration: none;
    }
    a:active {
      font-weight: bold !important;
    }
  }
}

.tags-tree  {
  /*position: fixed;*/
  font-size: 12px;
  padding-right: 12px;
  width: 100%;
  & > li {
    margin-bottom: 10px;
  }
  ul {
    padding: 0 0 10px 0;
    li {
      list-style: none;
    }
  }
}

.products .product {
  overflow: hidden;
  top: 0;
  padding: 0;
  background: @content-bg-color;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  &:hover {
    background: @content-bg-hover-color;
  }
  .image {
    width: 45%;
    height: 100%;
    padding-bottom: 75%;
    float: right;
    position: relative;
    img {
      position: absolute;
      right: 0;
      max-width: 100%;
      max-height: 100%;
      height: auto;
      display: none;
      &.noscript {
        display: block;
      }
    }
  }
  .details {
    float: left;
    width: 45%;
    padding: 10px;
    position: relative;
    line-height: 15px;
    p {
      margin: 0;
      padding: 0;
    }
    h3 {
      font-weight: bold;
      font-size: 1em;
      margin-top: 0;
    }
  }
}

#main {
  padding: 10px;
  h1 {
    font-size: 1.5em;
    color: @heading-color;
  }
  .products {
    
  }
  .categories, .tags-tree {
    margin-top: 20px;
    overflow: hidden;
  }
}

.product-details {
  h2 {
    font-size: 1.3em;
    margin-top: 0;
  }
  h3 {
    font-size: 1.1em;
  }
  /*.makers {
    font-style: italic;
  }*/
  dt, dd {
  }
  .image {
    /*float: right;
    margin: 0 0 30px 30px;
    width: 45%;*/
    text-align: center;
    img {
      cursor: pointer;
      display: none;
      /*max-height: 400px;*/
      max-width: 100%;
      &:hover {
        opacity: 0.7;
      }
      &:active {
        opacity: 0.6;
      }
      &.noscript {
        display: block;
      }
    }
  }
  .range {
  }
  .more-info {
    display: none;
  }
}

.product-details-image {
  text-align: center;
  img {
    /*width: 100%;*/
    max-width: 100%;
    display: none;
  }
}

.youtube-videos {
  padding: 0;
  overflow: hidden;
  li {
    display: block;
    float: left;
    margin: 0 5px 5px 0;
    a {
      opacity: 0.5;
      border: 2px solid #222;
      display: block;
      &:hover {
        border-color: #444;
        opacity: 0.7;
      }
    }
    &.selected a {
      opacity: 1;
      border-color: #fff;
    }
    &:not(.selected) a:active {
      border-color: #bbb;
    }
  }
}

.youtube-player {
  .player {
    overflow: hidden;
    iframe {
    }
  }
  .description {
    min-height: 80px;
    overflow: hidden;
  }
  .description.preview {
    opacity: 0.5;
  }
}

/* Modals */

/* This broke in bootstrap 3.3.4 or before... */
/*.modal-backdrop { bottom: 0; }*/

.modal-backdrop.in {
  opacity: 0.8;
}

.modal-header, .modal-footer {
  border: none;
}

.modal-header {
  /* Prevent header from interfering with .close click/hover */
  min-height: 20px;
  overflow: hidden;
  padding: 3px 7px 0 12px;
  h4 {
    margin-top: 10px;
  }
  .close {
    font-size: 2.7em;
    clear: both;
    text-shadow: none;
    color: #fff;
  }
}

.modal-content {
  border-radius: 0;
  background-color: #111;
}

.modal-body {
  padding: 15px;
}

.modal {
  .close {
    color: #ccc;
    opacity: 1 !important;
    &:hover {
      color: #eee;
    }
    &:active {
      color: #fff;
    }
  }
  .modal-content {
    /*background: #000;*/
    width: 100%;
  }
}

.modal.product-details-image {
  .close {
    color: #ccc;
    opacity: 1 !important;
    &:hover {
      color: #eee;
    }
    &:active {
      color: #fff;
    }
  }
  .image {
  }
  .modal-body {
    padding: 12px;
    width: 100%;
  }
}

/* "Hamburger" menu */
#toggle-site-menu {
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  display: block;
  line-height: 20px;
  width: 20px;
}

/* Small screen stuff */

@media only screen and (max-width: 767px) {
  body {
    /*padding: 0 !important;*/
  }
  #main {
    .products {
      .results {
        li {
          width: 100%;
          .product {
            padding-bottom: 35%;
            .image {
              padding-bottom: 35%;
              height: 100%;
              text-align: center;
              img {
                max-height: 100%;
              }
            }
          }
        }
      }
    }
  }
  .product-details {
    h2 {
      font-size: 1.2em;
    }
  }
  .modal-body {
    padding: 7px 5px 5px 5px;
  }
}

@media only screen and (max-width: 992px) {
  #main {
    padding: 0;
  }
}


