
@import './bootstrap.less';

@layout-image-dir: '/images/layout/';
@content-image-dir: '/images/content/';

@bg-color: #121212;
@content-bg-color: #1c1c1c;
@content-bg-hover-color: #222;

@link-color: #bbb;
@text-color: @link-color; 
@heading-color: #eee;

@button-bg-color: #222;
@button-hover-bg-color: #555;
@button-active-bg-color: #444;
@button-selected-bg-color: #ddd;
@button-selected-hover-bg-color: #ddd;
@button-selected-active-bg-color: #ccc;

@button-text-color: #777;
@button-active-text-color: #fff;
@button-hover-text-color: #eee;
@button-selected-text-color: #333;
@button-selected-hover-text-color: #555;

@import './buttons.less';
@import './lists.less';

body {
  background-color: @bg-color;
  color: @text-color;
  /*background-image: url("/images/cocktail_snare.jpg");
  background-position: top left;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;*/
}

a:link, a:visited, a:active {
  color: @link-color;
}

a:hover, .navbar-default .navbar-nav > li > a:hover {
  color: @link-hover-color;
}

.clearfix:after {
  clear: both;
  content: '';
  display: table;
}

table {
  .table;
}

.navbar-nav > li > a {
  padding: 4px 10px;
}

.navbar-default {
  background-color: transparent;
  border: none;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#main {
  padding: 10px;
  h1 {
    font-size: 1.5em;
    color: @heading-color;
  }
  .products {
    
  }
  .categories, .tags-tree {
    margin-top: 20px;
    overflow: hidden;
  }
  .categories {
    ul {
      padding: 0;
      margin: 0;
    }
    li {
      list-style: none;
      a:link {
        text-decoration: none;
      }
      a:active {
        font-weight: bold !important;
      }
    }
  }
  .tags-tree  {
    font-size: 12px;
    & > li {
      margin-bottom: 10px;
    }
    ul {
      padding: 0 0 10px 0;
      li {
        list-style: none;
      }
    }
  }
  .product {
    overflow: hidden;
    top: 0;
    padding: 0;
    background: @content-bg-color;
    /*height: 180px;*/
    width: 100%;
    height: 0;
    padding-bottom: 75%;
    &:hover {
      background: @content-bg-hover-color;
    }
    .image {
      width: 45%;
      height: 0;
      padding-bottom: 75%;
      float: right;
      position: relative;
      img {
        position: absolute;
        right: 0;
        max-width: 100%;
        max-height: 100%;
        height: auto;
        display: none;
        &.noscript {
          display: block;
        }
      }
    }
    .details {
      float: left;
      width: 45%;
      padding: 10px;
      position: relative;
      p {
        margin: 0;
        padding: 0;
      }
      h3 {
        font-weight: bold;
        font-size: 1em;
        margin-top: 0;
      }
      position: relative;
    }
  }
}

.product-details {
  h2 {
    font-size: 1.6em;
    margin-top: 0;
  }
  h3 {
    font-size: 1.1em;
  }
  .makers {
    font-style: italic;
  }
  dt, dd {
  }
  .image {
    float: right;
    margin: 0 0 30px 30px;
    width: 40%;
    text-align: center;
    img {
      width: 100%;
      cursor: pointer;
      display: none;
      &:hover {
        opacity: 0.7;
      }
      &:active {
        opacity: 0.6;
      }
      &.noscript {
        display: block;
      }
    }
  }
  .range {
    width: 50%;
    overflow: hidden;
  }
}

.product-details-image {
  img {
    width: 100%;
  }
}

.youtube-videos {
  padding: 0;
  overflow: hidden;
  li {
    display: block;
    float: left;
    margin: 0 5px 0 0;
    a {
      opacity: 0.5;
      border: 2px solid #222;
      display: block;
      &:hover {
        border-color: #444;
        opacity: 0.7;
      }
    }
    &.selected a {
      opacity: 1;
      border-color: #fff;
    }
    &:not(.selected) a:active {
      border-color: #bbb;
    }
  }
}

.youtube-player {
  .player {
    overflow: hidden;
    iframe {
    }
  }
  .description.preview {
    opacity: 0.5;
  }
}

/* Modals */

.modal-backdrop.in {
  opacity: 0.9;
}

.modal-header, .modal-footer {
  border: none;
}

.modal-header {
  /* Prevent header from interfering with .close click/hover */
  min-height: 20px;
  overflow: hidden;
  padding: 3px 7px 0 30px;
  h4 {
    margin-top: 10px;
  }
  .close {
    font-size: 2.7em;
    clear: both;
    text-shadow: none;
    color: #fff;
  }
}

.modal-content {
  border-radius: 0;
  background-color: #111;
}

.modal-body {
  padding: 15px 30px 25px 30px;
}

.modal.product-details {
  .modal-dialog {
    width: 60%;
  }
}

.modal.product-details-image {
  .close {
    color: #ccc;
    opacity: 1 !important;
    &:hover {
      color: #eee;
    }
    &:active {
      color: #fff;
    }
  }
  .modal-content {
    background: #000;
  }
  .modal-dialog {
    width: 75%;
  }
}

/* Small screen stuff */

@media only screen and (max-width: 767px) {
  body {
    padding: 0 !important;
  }
  #main {
    .products {
      .results {
        li {
          width: 100%;
          .product {
            padding-bottom: 45%;
            .image {
              position: static;
              padding-bottom: 0;
              img {
                max-height: 95%;
              }
            }
          }
        }
      }
    }
  }
  .modal.product-details {
    .modal-dialog {
      width: 95%;
    }
  }
  .modal.product-details-image {
    .modal-dialog {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 992px) {
  #main .categories li {
    display: inline !important;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  #main {
    padding: 0;
  }
}


