/* Basic CSS slideshow */

.slideshow-container {
}

.slideshow {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  height: auto;
  padding-top: 67%;
  li {
    width: 100%;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    img {
      max-height: 100%;
      max-width: 100%;
      opacity: 0;
      .blur;
      transition: all 2.5s;
      -moz-transition: all 2.5s;
      -webkit-transition: all 2.5s;
      -ms-transition: all 2.5s;
    }
    &.current {
      z-index: 20;
      img {
        opacity: 1;
        transition: all 2.5s;
        -moz-transition: all 2.5s;
        -webkit-transition: all 2.5s;
        -ms-transition: all 2.5s;
        .unblur;
      }
    }
  }
}
